<!-- Menu -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <br><br>
        <li class="nav-item" id="boutH">
            <a class="nav-link" data-toggle="collapse" href="#boutique" aria-expanded="false" aria-controls="site">
                <span class="menu-title">Boutique</span>
                <i class="menu-arrow" style="font-size: 2em;"></i>
            </a>
            <div class="collapse" id="boutique">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" id="comH"><a class="nav-link" href="/administrateur/commande">Commandes</a></li>
                    <li class="nav-item" id="proH"><a class="nav-link" href="/administrateur/produit">Produits</a></li>
                    <li class="nav-item" id="famH"><a class="nav-link" href="/administrateur/categorie">Catégories</a></li>
                    <li class="nav-item" id="famH"><a class="nav-link" href="/administrateur/souscategorie">Sous-catégories</a></li>
                    <li class="nav-item" id="cliH"><a class="nav-link" href="/administrateur/client">Clients</a></li>
                    <li class="nav-item" id="codH"><a class="nav-link" href="/administrateur/promo">Codes promo</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item" id="pageM">
            <a class="nav-link" href="page-menu">
                <span class="menu-title">Paramètres</span>
                <i class="fa fa-gear menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="media">
                <span class="menu-title">Médias</span>
                <i class="fa fa-file-image-o menu-icon"></i>
            </a>
        </li>
        <br><br>
        <li class="nav-item">
            <a class="nav-link" href="../" target="_blank">
                <span class="menu-title">Retour site</span>
                <i class="mdi mdi-forward menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <span class="menu-title">Déconnexion</span>
                <i class="mdi mdi-power menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
