<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><?php echo $siteParam['pa_site_name']; ?> Admin</title>
    <link rel="icon" href="" type="image/x-icon" style="width: auto;">

    <link rel="stylesheet" href="admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="admin/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="admin/vendors/cropper/cropper.min.css">

    <link rel="stylesheet" href="admin/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="admin/css/style.css?version=1.11">
    <link rel="stylesheet" href="admin/css/custom.css?version=1.11">

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>