<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Admin login</title>
    <link rel="icon" href="" type="image/x-icon" style="width: auto;">

    <link rel="stylesheet" href="/admin/css/style.css">
    <link rel="stylesheet" href="/admin/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg" style="background: #ffffff;">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">

                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo text-center">
                                <img src="/images/logo-black.png" alt="logo" class="mx-auto">
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <form class="pt-3" action="#" method="POST">

                                <div class="form-group">
                                    <label for="InputEmail">Identifiant</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                    <span class="input-group-text bg-transparent border-right-0">
                                        <i class="mdi mdi-account-outline text-info"></i>
                                    </span>
                                        </div>
                                        <input value="{{ last_username }}" type="text" name="username" class="form-control form-control-lg border-left-0" id="InputEmail" required placeholder="Identifiant">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="InputPassword">Mot de passe</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                      <span class="input-group-text bg-transparent border-right-0">
                                          <i class="mdi mdi-lock-outline text-info"></i>
                                      </span>
                                        </div>
                                        <input type="password" name="password" class="form-control form-control-lg border-left-0" id="InputPassword" required placeholder="Mot de passe">
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="my-3">
                                    <button type="submit" name="login" class="btn btn-block btn-gradient-info btn-lg font-weight-medium auth-form-btn">CONNEXION</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 login-half-bg d-flex flex-row"></div>
                </div>

            </div>
        </div>
    </div>

</body>





</html>
