<footer class="page-footer-default" >

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="logo-footer" src="/images/logo-white.png">

            </div>
            <div class="col-md-4">
                <h2 style="color: white;" class="heading-decorative">Liens utiles</h2>
                <ul class="list-marked text-primary font-weight-bold">
                    <li><a href="/mention-legal">Mentions Légales</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 style="color: white;" class="heading-decorative">Contact</h2>
                <ul class="contact-list">
                    <li><chiffre>115</chiffre> chemin de traverse, <br><chiffre>13009</chiffre> Marseille</li>
                    <li><a href="tel:0498541265"><chiffre>04 98 54 12 65</chiffre></a><br><a href="mailto:contact@ordreduphenix.com">contact@ordreduphenix.com</a></li>
                </ul>
                <ul class="list-inline list-inline-sm">
                    <li><a class="icon fa-facebook" href="#"></a></li>
                    <li><a class="icon fa-instagram" href="#"></a></li>
                    <li><a class="icon fa-twitter" href="#"></a></li>
                    <li><a class="icon fa-youtube" href="#"></a></li>
                </ul>
            </div>
        </div>
        <p class="copyright text-center color-white"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>L’ordre du phenix 2022</span><span> | </span> Réalisation : projet esimed</p>
    </div>
</footer>