<section class="pt-5 mb-5" style="border-top: 2px solid #ccc; background-color: white" >
    <div class="container" style="background-color: white;">
        <div class="row text-center">
            <div class="col-lg-3">
                <img src="/images/livraison-gratuite.png" style="height: 60px;"><br>
                <p style="font-size: 16px;">Livraison offerte a partir de 70€</p>
            </div>
            <div class="col-lg-3">
                <img src="/images/expedition.png" style="height: 60px;"><br>
                <p style="font-size: 16px;">Envoi sous 24h</p>
            </div>
            <div class="col-lg-3">
                <img src="/images/pay.png" style="height: 60px;"><br>
                <p style="font-size: 16px;">Paiement sécurisé</p>
            </div>
            <div class="col-lg-3">
                <img src="/images/satisfait-ou-remboursé.png" style="height: 60px;"><br>
                <p style="font-size: 16px;">Satisfait ou remboursé </p>
            </div>
        </div>
    </div>
</section>