<section class="pt-5 mb-5" style="border-top: 2px solid #ccc; background-color: white" >
    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-lg-3">
                <i class="fa fa-truck" aria-hidden="true"></i><br>
                <p>Livraison offerte a partir de 70€</p>
            </div>
            <div class="col-lg-3">
                <img src="/assets/img/icone-certificat.svg" style="height: 50px;margin: 0;"><br>
                <p>Produits sous licence officielle</p>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-cc-visa" aria-hidden="true" style="font-weight: 400;"></i>
                <i class="fa fa-cc-mastercard" aria-hidden="true" style="font-weight: 400;"></i>
                <img src="/assets/images/cb.png" style="height: 45px;margin: 0;    margin-top: -28px;"><br>
                <p>Paiement sécurisé</p>
            </div>
            <div class="col-lg-3">
                <img src="/assets/images/LOGO-3-QUADRI-BLANC.png" style="height: 45px;"><br>
                <p>Site internet réalisé avec le soutien de la Région Sud Provence-Alpes-Côte d'Azur </p>
            </div>
        </div>
    </div>
</section>