{% extends 'base.html.twig' %}
{% set current_title = "Contact" %}
{% block body %}
<section class="section text-center ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-md-12 p-0">
                <div class="breadcrumb-wrapper p-4 color-gold">
                    <ol class="breadcrumbs-custom">
                        <li><a href="./">Accueil</a></li>
                        <li>Contact</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact form-->
<section class="section section-lg">
    <div class="container text-left">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1>Contact</h1>
            </div>
            <div class="col-sm-6 col-lg-3" style="border-right: 1px solid #ededed;">
                <p class="aside-contacts-title">Réseaux sociaux</p>
                <ul class="list-inline contacts-social-list list-inline-sm">
                    <li><a class="icon fa fa-facebook" href="#"></a></li>
                    <li><a class="icon fa fa-instagram" href="#"></a></li>
                    <li><a class="icon fa fa-twitter" href="#"></a></li>
                    <li><a class="icon fa fa-youtube" href="#"></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3" style="border-right: 1px solid #ededed;">
                <p class="aside-contacts-title">Téléphone</p>
                <div class="unit unit-spacing-xs justify-content-center justify-content-md-start">
                    <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                    <div class="unit-body"><a class="phone" href="tel:0498541265"><chiffre>04 98 54 12 65</chiffre></a></div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="border-right: 1px solid #ededed;">
                <p class="aside-contacts-title">E-mail</p>
                <div class="unit unit-spacing-xs justify-content-center justify-content-md-start">
                    <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                    <div class="unit-body"><a class="mail" href="mailto:contact@ordreduphenix.com">contact@ordreduphenix.com</a></div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3" >
                <p class="aside-contacts-title">Adresse</p>
                <div class="unit unit-spacing-xs justify-content-center justify-content-md-start">
                    <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                    <div class="unit-body"><chiffre>115</chiffre> chemin de traverse, <br><chiffre>13009</chiffre> Marseille</div>
                </div>
            </div>
        </div>
    </div>
<section/>
    <section class="section section-sm pb-0">
        <div class="container-fluid p-0 m-0">
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9893.332924749704!2d-0.4180732!3d51.6903468!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6944cdcc4c412ec8!2sThe%20Making%20of%20Harry%20Potter%20-%20Studio%20Tour%20London!5e0!3m2!1sfr!2sfr!4v1646305655551!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>

{% endblock %}