{% extends 'base.html.twig' %}
{% block body %}
<!--SLIDER -->
<section class="section">
    <div class="swiper-custom-container">
        <!-- Swiper-->
        <div class="swiper-container swiper-slider swiper-slider-custom" data-loop="true" data-autoplay="4500" data-simulate-touch="false">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide-bg="images/slider-home-creatures-magiques-noblecollection1.jpg">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div class="swiper-slide" data-slide-bg="images/harry-potter-g90531ac661280.jpg">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div class="swiper-slide" data-slide-bg="images/slider-home-1.jpg">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation-->
            <div class="swiper-button swiper-button-prev">
                <div class="swiper-button__arrow">
                    <div class="icon mdi mdi-keyboard-backspace"></div>
                </div>
                <div class="preview">
                    <div class="preview__img"></div>
                </div>
            </div>
            <div class="swiper-button swiper-button-next">
                <div class="swiper-button__arrow">
                    <div class="icon icon-inverse mdi mdi-keyboard-backspace"></div>
                </div>
                <div class="preview">
                    <div class="preview__img"></div>
                </div>
            </div>
        </div>
        <!--<div class="jumbotron-custom-wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-xl-8">
                        <div class="jumbotron-custom">
                            <div class="light-box"><img src="images/image-icon-1-49x43.png" alt="" width="49" height="43"/>
                                <h2 class="title">Chemical Free, Natural Handmade Skin Care Lines</h2>
                                <div class="exeption">100% Natural and Active ingredients, without water, mineral oils, propylene glycol and other petrochemicals, phthalates, perfumes, dyes, triethanolamine, parabens etc.</div>
                            </div>
                            <div class="primary-box"><a class="button button-white" href="products.html">View products</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>

<!-- NOUVEAUTE -->
<section class="section section-lg bg-default">
    <div class="container-fluid text-center">
        <h1 class="heading-decorative"><span>Nouveauté</span></h1>
        <!-- Owl Carousel-->
        <div class="owl-carousel" data-items="1" data-sm-items="1" data-md-items="2" data-lg-items="4" data-dots="true" data-nav="true" data-stage-padding="28" data-xxl-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/couverture-deluxe-gryffondor.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Handmade Soap</a></div>
                    <p class="price">25.90 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/mug-carte-du-maraudeur-thermoreactif-harry-potter-1.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Organic Makeup Set</a></div>
                    <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/sacoche-d-ordinateur-vif-d-or-harry-potter.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Beeswax Lip Balm</a></div>
                    <p class="price">12.90 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/harry-potter-lumos-wands-18cm-harry-potter.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Organic Makeup Set</a></div>
                    <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/nn7351_480.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Organic Makeup Set</a></div>
                    <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PRESENTATION ENTREPRISE -->
<section class="" style="background-image: url(images/harry-potter-g086e60686_1920.jpg);background-position: center;background-size: cover;">
    <div class="container-fluid" style="background-color: rgb(0 0 0 / 0.7);">
        <div class="row ">
            <div class="col-sm-12 d-flex align-items-center" style="color: white;font-size: 20px;">

                <p class="m-5">
                    L'ordre du phenix est la plus grande boutique française de produits officiels Harry Potter.<br><br>

                    Nous mettons énormément de temps et d'efforts pour vous proposer les meilleurs produits Harry Potter.<br><br>

                    Tu as besoin de commander ta robe de sorcier pour la rentrée à Poudlard ? ABRACADABRA (oui c'est cliché on sait 🤣 ), on s'occupe de toi. Nous avons des baguettes magiques, des bijoux, des funko pop, des plaids, des mugs, des bougies et plein d'autres produits officiels !<br><br>

                    Si vous voulez offrir à quelqu'un un cadeau Harry Potter, vous trouverez également l'idée parfaite qui correspond à sa personnalité !<br><br>

                    Jetez un coup d'œil à nos collections Gryffondor, Serpentard, Serdaigle ou encore Poufsouffle et arborez fièrement les couleurs de votre maison !<br><br>

                    🧙‍♂️ Chez L'ordre du phenix, aucun sorcier (bon ou mauvais) n'est laissé de côté !<br><br>

                    En plus, le service est au top, en haut à droite du site, vous trouverez le numéro de portable afin de joindre quelqu'un de 7h du matin à 23h (pas de numéro surtaxé, car ça nous agace aussi...)<br><br>

                    En bas de la page d'accueil, regardez nos avis, ils sont quasiment tous positifs (Le 100% est impossible à atteindre comme vous le savez, mais nous tendons chaque jour à nous en rapprocher) et nous fournissons une réponse à chaque avis déposé.<br><br>

                </p>


            </div>
        </div>
    </div>
</section>

<!--brick categorie -->
<section class="section section-lg bg-default">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3 hov-img-zoom mb-3">
                <a href="#">
                    <div class="row">
                        <div class="col-md-12 hov-img-zoom ">
                            <img class="img-fluid" loading="lazy" src="images/gryffondor3.png">
                        </div>
                        <div class="col-md-12 text-center"> <h2 style="margin-top: 15px;">Gryffondor</h2></div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 hov-img-zoom mb-3">
                <a href="#">
                    <div class="row">
                        <div class="col-md-12 hov-img-zoom">
                            <img class="img-fluid" loading="lazy" src="images/serpentard3.png">
                        </div>
                        <div class="col-md-12 text-center"> <h2 style="margin-top: 15px;">Serpentard</h2></div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 hov-img-zoom mb-3">
                <a href="#">
                    <div class="row">
                        <div class="col-md-12 hov-img-zoom ">
                            <img class="img-fluid" loading="lazy" src="images/serdaigle2.png">
                        </div>
                        <div class="col-md-12 text-center"> <h2 style="margin-top: 15px;">Serdaigle</h2></div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 hov-img-zoom mb-3">
                <a href="#">
                    <div class="row">
                        <div class="col-md-12 hov-img-zoom ">
                            <img class="img-fluid" loading="lazy" src="images/poudsouffle3.png">
                        </div>
                        <div class="col-md-12 text-center"> <h2 style="margin-top: 15px;">Poufsouffle</h2></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- MISE EN AVANT -->
<section class="section section-lg bg-default">
    <div class="container-fluid text-center">
        <h2 class="heading-decorative"><span>Meilleures ventes</span></h2>
        <!-- Owl Carousel-->
        <div class="owl-carousel" data-items="1" data-sm-items="1" data-md-items="2" data-lg-items="4" data-dots="true" data-nav="true" data-stage-padding="28" data-xxl-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/couverture-deluxe-gryffondor.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Handmade Soap</a></div>
                    <p class="price">25.90 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/mug-carte-du-maraudeur-thermoreactif-harry-potter-1.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Organic Makeup Set</a></div>
                    <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/sacoche-d-ordinateur-vif-d-or-harry-potter.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Beeswax Lip Balm</a></div>
                    <p class="price">12.90 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/harry-potter-lumos-wands-18cm-harry-potter.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Organic Makeup Set</a></div>
                    <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>
            <div class="price-box">
                <div class="figure"><a href="#"><img src="images/produits/nn7351_480.jpg" alt="" width="370" height="270"/></a></div>
                <div class="caption">
                    <div class="title"><a href="#">Organic Makeup Set</a></div>
                    <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}