{% extends 'base.html.twig' %}
{% set current_title = "Connexion" %}
{% block body %}
<section class="section text-center ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-md-12 p-0">
                <div>
                    <img src="images/page-header/entete.jpeg">
                </div>
                <div class="breadcrumb-wrapper p-4 color-gold">

                    <ol class="breadcrumbs-custom">
                        <li><a href="./">Accueil</a></li>
                        <li>Connexion</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Log in-->
    <section class="section section-lg bg-default">
        <div class="container text-center">
            <div class="row row-30 justify-content-sm-center">
                <div class="col-md-10 col-xl-8">
                    <h1 class="heading-decorative"><span>Connexion</span></h1>
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert " role="alert">
                                <p style="color: #c15e72;background-color: rgba(254, 124, 150, 0.2);border-color: #ea728a;">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <!-- RD Mailform-->
                    <form action="#" method="POST">
                        <div class="form-wrap form-wrap-validation">
                            <label class="form-label" for="forms-login-email">E-mail</label>
                            <input class="form-input" id="forms-login-email" type="email" name="username" data-constraints="@Required">
                        </div>
                        <div class="form-wrap form-wrap-validation">
                            <label class="form-label" for="forms-login-password">Mot de passe</label>
                            <input class="form-input" id="forms-login-password" type="password" name="password" data-constraints="@Required">
                        </div>
                        <a href="/oublie">Mot de passe oublié ?</a></br>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <button class="button button-block button-primary" type="submit">Se connecter</button>
                        <p class="title-classic-subtitle">Si vous n'êtes pas déjà inscrit aller ici <a href="/inscription"> Inscription</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}