{% extends 'base.html.twig' %}
{% set current_title = "Mentions Légales" %}
{% block body %}
    <section class="section text-center ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 p-0">
                    <div class="breadcrumb-wrapper p-4 color-gold">
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Accueil</a></li>
                            <li>Mentions Légales</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="section section-md bg-default" data-aos="fade-up" data-aos-duration="1000" style="background-image: url(/assets/images/fond-craft.png);">
    <div class="container" id="mystere-sortilege3">
        <div class="row">
            <div class="col-md-12">

                <h2 style="text-align: left;"><span style="font-size: 36px;">Informations sur l'éditeur du site</span></h2><br>
                <p style="text-align: left;">Le présent site https://projetesimed3a2021.alwaysdata.net/ est la propriété de SAS ORDE PHÉNIX.<br>Les directrice de publication du site sont Julie TROCMÉ et Estelle VANBRUSSEL.<br>Adresse du siège social : 115 chemin de traverse - 13009 Marseille<br>Téléphone : 04 98 54 12 65<br>Email : <a href="mailto:contact@ordreduphenix.com">contact@ordreduphenix.com</a><br>N° RCS : Marseille B 123&nbsp;123&nbsp;456<br>N° de TVA Intracommunautaire : FR21123456789<br>N° de SIRET : 123456789123617<br>Capital social de  1 euros.</p><br>
                <p style="text-align: left;">&nbsp;</p><br>
                <h2 style="text-align: left;"><span style="font-size: 36px;">Conception et Réalisation</span></h2><br>
                <p style="text-align: left;"><span style="font-size: 18px;">Esimed les Bgettes</span></p><br>
                <p style="text-align: left;"><span style="font-size: 14px;">154, Avenue des meilleurs - 13009 Marseille</span><br><span style="font-size: 14px;">Tél. : 04 90 05 44 65</span><br><span style="font-size: 14px;">E-mail :&nbsp;bgette@bgette.fr</span><br><br></p><br>
                <p style="text-align: left;">&nbsp;</p><br>
                <h2 style="text-align: left;"><span style="font-size: 36px;">Hébergement</span></h2><br>
                <p style="text-align: left;"><span style="font-size: 18px;">Esimed les Bgettes</span></p><br>
                <p style="text-align: left;">154, Avenue des meilleurs - 13009 Marseille<br>Tél. : 04 90 05 44 65<br>E-mail :&nbsp;bgette@bgette.fr<br><br></p><br>
                <h2 style="text-align: left;"><span style="font-size: 36px;">Droits de propriété intellectuelle</span></h2><br>
                <p style="text-align: left;">La conception générale, ainsi que les textes, images et tous autres éléments composants le site sont la propriété exclusive du site https://projetesimed3a2021.alwaysdata.net/.<br>L'ensemble de ce site relève de la législation française sur le droit d'auteur et la propriété intellectuelle.<br>La reproduction de tout ou partie de ce site (autre que techniquement nécessaire à sa consultation) sur un support électronique quel qu'il soit est expressément interdite.</p><br>
                <p style="text-align: left;">La reproduction d'un élément de ce site sur un support papier est autorisée, sous réserve du respect des deux conditions suivantes :<br>- respect de l'intégrité des documents reproduits : pas de modification ni altération d'aucune sorte,<br>- citation claire et lisible de la source sous la forme suivante -par exemple - : "ce document provient du site https://projetesimed3a2021.alwaysdata.net/. Droits de reproduction réservés et strictement limités".<br>L'adresse internet du site https://projetesimed3a2021.alwaysdata.net/ doit toujours figurer dans la référence.</p><br>
                <p style="text-align: left;">L'utilisation du contenu du site en contravention avec ces prescriptions vaut contrefaçon au sens de l'article 335-2 du Code de la propriété intellectuelle.<br>Outre des dommages et intérêts au titre de la responsabilité civile, celle-ci peut être pénalement sanctionnée de 300 000 euros d'amende et/ou de 3 ans d'emprisonnement.</p>                        </div>
        </div>
    </div>
</section>

{% endblock %}