<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'front/default/_head.html.twig' %}
</head>
<!-- Page-->
<div class="page">
    <!-- Page preloader
    <div class="page-loader">
        <div>
            <div class="page-loader-body">
                <div class="cssload-loader">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
            </div>
        </div>
    </div>-->
    <!--HEADER-->
    {% include 'front/default/_header.html.twig' %}

    {% block body %}{% endblock %}


    <!-- Bandeau de reassurence-->
    {% include 'front/default/_reassurance.html.twig' %}

    <!-- footer -->
    {% include 'front/default/_footer.html.twig' %}

</div>


    <!-- Javascript-->
    {% include 'front/default/_script.html.twig' %}

    </body>
</html>