<!DOCTYPE html>
<html lang="fr">

<!-- HEAD -->
{% include 'admin/_head.html.twig' %}

<body>
<!-- Page-->
<div class="page">
    {% include 'admin/_header.html.twig' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'admin/_header-left.html.twig' %}

        {% block body %}{% endblock %}



    </div>


</div>

<!-- Javascript-->
{% include 'admin/_script.html.twig' %}

</body>
</html>
