<!DOCTYPE html>
<html lang="fr">

<!-- HEAD -->
{% include 'front/default/_head.html.twig' %}

<body>
<!-- Page-->
<div class="page">
{% block body %}{% endblock %}
</div>

<!-- Javascript-->
{% include 'front/default/_script.html.twig' %}

</body>
</html>